* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

#box {
    padding: 0;
    position: absolute;
    width: 15%;
    height: 95vh;
    border-right: 3px solid grey;
}

.link {
    width: 13%;
    height: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1em;
    color:rgb(49, 48, 58);
    margin: 2px;
    padding: 2px 3px 0;
}

.menu {
    position: absolute;
    width: 4%;
    height: auto;
    color: rgb(49, 48, 58);
    text-decoration: none;
    margin-top: 5px;
    padding-left: 5px;
    background-color: #fff;
}

.link:hover, .menu:hover {
    cursor: pointer;
    color: #fff;
    background-color:rgb(50,120,120);
    border-radius: 5px;
}

.conteudo {
    color: rgb(49, 48, 58);
    width: 45%;
    height: auto;
    margin: auto auto;
    border: 2px solid rgb(49, 48, 58);
    border-radius: 10px;
    
}

.nome {
    display: flexbox;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(49, 48, 58);
    margin: 10px;
    width: 30%;
    padding-left: 10px;
}

.label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fechar {
    display: flexbox;
    text-decoration: none;
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    font-weight: bolder;
    color: red;
    float: right;
    margin-right: 20px;
    margin-top: -35px;
}

#cadastro {
    padding: 5px 20px;
    color: rgb(49, 48, 58);
}

.form {
    border: 1px solid rgb(49, 48, 58);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.btnbox {
    flex-direction: row;
    width: 15%;
    height: 35px;
    border: 1px solid rgb(50,120,120);
    background-color: rgb(50,120,120);
    color: #fff;
    border-radius: 5px;
}

.btncadastro {
    margin-top: 5px;
    flex-direction: row;
    width: 30%;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(64, 96, 183);
    border: 1px solid rgb(64, 96, 183);
    margin-left: 10px;
}

#btnsalvar {
    background-color: rgb(87, 171, 56);
}

.botao {
    font-size: medium;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
}

#localizar {
    margin-top: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 48, 58);
}

#boxcodigo {
    display: inline;
    flex-direction: row;
    height: 35px;
    width: 7%;
    border: 1px solid rgba(49, 48, 58, 0.4);
    border-radius: 3px;
    padding: 5px;
}

#boxpdt {
    display: inline;
    height: 35px;
    width: 35%;
    border: 1px solid rgba(49, 48, 58, 0.4);
    border-radius: 3px;
    padding: 5px;
}

#boxpreco {
    display: inline;
    height: 35px;
    width: 15%;
    border: 1px solid rgba(49, 48, 58, 0.4);
    border-radius: 3px;
    padding: 5px;
}

#boxqtde {
    display: inline;
    height: 35px;
    width: 15%;
    border: 1px solid rgba(49, 48, 58, 0.4);
    border-radius: 3px;
    padding: 5px;
}

#submit {
    display: inline;
    height: 40px;
    width: 25%;
    
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(207, 234, 234);
}

#submit:hover {
    cursor: pointer;
    color:blue;
}

.bkg {
    background-color: rgb(238, 239, 240);
}

.totalizador{
    display: inline;
    height: 25px;
    width: 15%;
    padding: 5px;
}

.total{
    display: inline;
    margin:2px;
    
}

label{
    padding: 25px;
}
